.Hero_section {
    background: #F0F0F2;
}
.Shop_btn {
    background:var(--color1);
    color: #fff;
    font-weight: 700;
    width: 200px;
    border: none;
    padding: 15px 40px;
    position: relative;
    z-index: 2;
}
.Shop_btn::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    background: #4A4A4B;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s;
}

.Shop_btn:hover::after {
    width: 100%;
}
.Hero_section .Title {
    font-size: 96px;
    color: #0b1c36;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    line-height: 7rem;
}

@media screen and (max-width: 768px) {
    .Hero_section .Title {
        padding-top: 6rem;
        font-size: 48px;
        line-height: 4rem;
    }
    
}
